configuration {
    modi: "drun,run,window,ssh";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    font: "JetBrains Mono 11";
    display-drun: "apps";
    display-run: "run";
    display-window: "win";
    display-ssh: "ssh";
    drun-display-format: "{name}";
}
@theme "~/.config/rofi/tokyo-neon.rasi"
